* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  background-color: #30a7d7;
  color: white;
}

.headerTitle {
  padding: 8px;
  margin: 8px;
  border: 8px double;
  border-radius: 10px;
  font-size: 2rem;
}

.banner img {
  width: 100vw;
}
.mainContent {
  width: 100vw;
  min-height: 100vh;
  font-size: 1.2rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.description {
  margin: 2rem;
}

.homeImg {
  background-color: #dfdfdf;
  width: 20rem;
}

.imageContainer {
  position: relative;
}

.imageContainer:hover .overlay {
  height: 100%;
  width: 20rem;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5ebdfc;
  overflow: hidden;
  width: 20rem;
  height: 0;
  transition: 0.5s ease;
}

.homeFooter {
  width: 100vw;
  text-align: center;
  background-color: #30a7d7;
}

.footerContent {
  margin-top: auto;
  padding: 10px;
}
