* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  background-color: #30a7d7;
  color: white;
}

.headerTitle {
  padding: 8px;
  margin: 8px;
  border: 8px double;
  border-radius: 10px;
  font-size: 2rem;
}

.navbar {
  background-color: rgba(145 145 145);
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.navbar input {
  display: none;
}

.openMenu {
  font-size: 2.5rem;
  margin-right: 1.2rem;
  margin-left: 0.5rem;
}
.closeMenu {
  font-size: 2.9rem;
  display: none;
  margin-right: 1.2rem;
  margin-left: 0.5rem;
}

.listLink {
  display: none;
}
.navbarLink {
  text-decoration: none;
  padding: 8px;
  list-style: none;
}

.navbarLink a {
  color: rgb(13, 13, 13);
  text-decoration: none;
  padding: 0px 12px;
}

.banner img {
  width: 100vw;
}
.mainContent {
  width: 100%;
  min-height: 100vh;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.description{
  margin-top: 2rem;
}
.homeFooter {
  width: 100vw;
  text-align: center;
  background-color: #30a7d7;
}

.footerContent {
  margin-top: auto;
  padding: 10px;
}

/*------------------------Pseudo classes----------------------*/

.navbar ul li:hover {
  background-color: #4dad5b;
}

.navbar input:checked ~ ul {
  display: flex;
}

.navbar input:checked ~ .openMenu {
  display: none;
}
.navbar input:checked ~ .closeMenu {
  display: flex;
}

@media screen and (max-width: 850px) {
}
