body, main, ul, li, h1, h2, a{
    margin:0;
    padding: 0;
    font-family: Arial;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(133 90 201);
    color: white;
}

header h1{
    padding: 8px;
    margin: 8px;
    border: 8px double;
    border-radius: 10px;
}

nav{
    background-color: rgba(145 145 145);
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
} 

nav ul li a{
    color: rgb(13, 13, 13);
    text-decoration: none;
    padding: 0px 12px;
}

img{
    width: 100vw;
}

main article {
    margin: 85px;
}

/*------------------------Pseudo classes----------------------*/

nav ul li:hover{
    background-color: rgb(77 173 91);
}


/* nav {
    background-color:rgb(166, 98, 229);
}

nav h1{
    color: white;
    padding: 10px;
    border: 8px double white;
    margin: 8px 0 8px 0;
    display: inline-block;
    border-radius: 10px;
}

nav ul{
    white-space: none;
}

nav ul li {
    color: white;
    text-align: right;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 8px 0px 0px;
}

.banner{
    position: relative;
    max-width: 100%;
}

.banner img{
    max-width: 100vw;
    align-items: center;
} */