

main section form {
    text-align: center;
    margin: 20px;

}

#pokemonDetails{

    text-align: center;
    animation: slideIn 5s ;
    position: relative;

}

#pokemonImg{
    width: 25vw;
    background-color: rgb(229, 219, 219);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*------------------------animation----------------------*/

@keyframes slideIn {
    from { left: 200px;}
    to { left: 0px;}
}